*{
    margin: 0;
    padding: 0;
    list-style: none;
    font: 12px Helvetica,Arial,sans-serif;
    line-height: 1.62;
    text-decoration: none;
    color: #111;
}
img{
    border:0;
    padding:0;
    margin:0;
}
.clear::after{
    content:"";
    display: block;
    clear:both;
}

/*顶部导航栏部分*/
.header{
    height: 28px;
}

.nav-bar{
    height: 28px;
    width: 100%;
    position: absolute;
    color: #d5d5d5;
    background-color: #545652; 
}
.nav-bar:after{
    clear:both;
    overflow: hidden;
    display: block;
}
.nav-bar .nav-left{
    float:left;
}
.nav-left li{
    float:left;
    font-size:12px;
    line-height:28px;
    cursor:pointer;
}
.nav-bar li a{
    display: block;
    padding: 0 12px;
    line-height: 28px;
    color: #d5d5d5;
}
.nav-bar li a:hover{
    color:#fff;
}

.nav-right{
    float: right;
}
.nav-right li{
    float: left;
}
.nav-right .app{
    position: absolute;
    top:28px;
    right:22px;
    width: 211px;
    padding:10px 20px 30px;
    border: 1px solid #e6e6e6;
    background: #fff;
    border-top:none;
    text-align:center;
    font-weight: bold;
    display: none;
}
.nav-right .app p:nth-child(1){
    padding-top:170px;
    font-size:27px;
    background:url("https://img3.doubanio.com/f/shire/12356a377c5190a72a849e5b5c9034dd538b439e/pics/nav/nav_doubanapp_6.png") no-repeat center;
}
.nav-right .app p:nth-child(2){
    font-size: 13px;
    letter-spacing: 3px;
    font-weight: 400;
}
.nav-right .app p:nth-child(3){
    padding-top:160px;
    margin-top:30px;
    background: url("https://img3.doubanio.com/f/shire/6aa9dcfa49ca33353c8265cdd43ccdfeb1554285/pics/nav/nav_doubanapp_6_qrcode.png") no-repeat center;
    font-size:0;
}
.nav-right .app .download{
    margin-top:10px;
}
.nav-right .app .download a{
    color: #37a;
    font-size:12px;
} 
.nav-right li:first-child:hover + div{
    display: block;
}
.nav-right li:first-child + div:hover{
    display:block;
}
/*导航栏结束*/

/*标题*/
.nav-music{
    width: 100%;
    overflow: hidden;
}
.music-wrap{
    background: #f0f3ef;
    border-bottom: 1px solid #e5ebe4;
}
.nav-primay{
    width: 950px;
    margin:0 auto;
    position: relative;
    padding:10px 0 5px;
}
.nav-primay::after{
    content:"";
    display: block;
    clear:both;
    
}
.music-logo{
    width: 145px;
    height: 56px;
    float:left;
}
.music-logo a{
    width: 100%;
    height: 100%;
    display: block;
    background: url("https://img3.doubanio.com/f/shire/790e584d54485ea8ca1759469ffcfa54e6bb64ea/pics/nav/lg_music_a12_2.png") no-repeat 0 12px;
}
.music-input{
    width: 508px;
    height: 34px;
    padding: 10px 0 15px 0;
    float:left;
    
}
.music-input .input-inner{
    width: 470px;
    height: 34px;
    float:left;
    text-align: center;
    background: url("https://img3.doubanio.com/f/shire/d45aaa7569335285e298dd7f3c045c8b364a19de/pics/nav1/nav_bg_a1.png") no-repeat 0 0;
}
.music-input input{
    width: 96%;
    padding-left: 10px;
    height: 30px;
    border: none;
    float:left;
    
}
.music-btn{
    float:left;
    width: 37px;
    height: 34px;
    margin-left:-1px;
}
.music-btn input{
    width: 100%;
    height: 100%;
    font-size: 0;
    padding: 35px 0 0 0;
    overflow: hidden;
    background: url("https://img3.doubanio.com/f/shire/d45aaa7569335285e298dd7f3c045c8b364a19de/pics/nav1/nav_bg_a1.png") no-repeat 0 -40px;
    color: transparent;
    cursor: pointer;
}
.nav-img img{
    position: absolute;
    height: 90px;
    width: 174px;

}
.search-bar{
    width: 469px;
    position: absolute;
    left: 628px;
    top:80px;
    background: #fff;
    border:1px solid #e5ebe4;
    z-index:   5;
}

.search-bar li{
    padding:10px 5px;
    border-bottom:1px solid #e5ebe4;
    height: 45px;
}
.search-bar li::after{
    content:"";
    clear:both;
    display: block;
}
.search-bar li a{
    display: inline-block;
    height: 45px;
    width: 100%;
}
.search-bar li a::after{
    content:"";
    clear:both;
    display: block;
}
.search-bar img{
    float:left;
    width: 45px;
    height: 45px;
}
.search-bar .text{
    float:left;
    margin-left:5px;

}
.search-bar .text p:nth-child(1) span:nth-child(1){
    color:#37a;
    font-size:13px;
}
.search-bar .text p:nth-child(1) span:nth-child(2){
    margin-left:5px;
    color:#545652;
}
.search-bar .text p:nth-child(2){
    color:#545652;
}

.nav-foot{
    width: 100%;
    height: 39px;
    background:#f0f3ef;
    margin-bottom: 40px;
}
.nav-foot-inner{
    width: 950px;
    margin:0 auto;
    overflow: hidden;
}
.nav-foot-inner ul{
    margin:9px 0;
}
.nav-foot-inner ul li{
    float:left;
    font-size:13px;
    margin-right: 30px;
}
.nav-foot-inner ul li a{
    color:#555d53;
    font-size:13px;
}
.nav-foot-inner ul li a:hover{
    background: #555d53;
    color:#fff;
}

/*主体部分*/
.wrapper{
    width: 950px;
    margin:0 auto;
}
.content{
    width: 100%;
}
.article{
    width:590px;
    float:left;
}
.aside{
    width: 310px;
    float:left;
}
.slider_wrapper{
    margin-bottom: 30px;
}
.slider_wrapper #wrapper{
    width: 590px;
    height:250px;
    overflow:hidden;
    position:relative;
}
#slider{
    width:6650px;
    position: absolute;
}
#slider li{
    float:left;
}
#slider a{
    width:590px;
    height: 250px;
}
#slider a img{
    width:590px;
    height: 250px;
}
#sliderPage{
    position: absolute;
    left: 50%;
    margin-left:-45px;
    bottom:15px;
}
#sliderPage i{
    display: block;
    background-color: #F8F9F9;
    width: 5px;
    height: 5px;
    cursor: pointer;
    border: 0;
    color: transparent;
    border-radius: 50%;
    float:left;
    margin:0 5px;
}
#sliderPage i.active{
    background: #139d72;
}
#rB{
    border:none;
    position: absolute;
    width: 36px;
    height: 51px;
    background: url("https://img3.doubanio.com/f/music/f7a7edb086efd2b104a547882609d490a701dc00/pics/music/home/banner_arrow.png");
    background-position: 36px 51px;
    right:0;
    top:50%;
    margin-top:-25.5px;
    cursor: pointer;
}
#rB:hover{
    background-position: 36px 0;
}

.content .popular-arist{
    margin-bottom: 40px;
}
.content .popular-arist .header{
    border-bottom: 2px solid #02A682;
}
.popular-arist .header li{
    display: inline-block;
}
.popular-arist .arist-tab{
    
    line-height: 30px;
    margin: 0px;
    cursor: pointer;
    font-size: 13px;
    color: #999;
}
.popular-arist .arist-tab.active{
    font-size: 16px;
    color: #222;
}
.arist{
    display: none;
    text-align: center;
    background: #F5F7F8;
    padding: 15px 0px 0px 10px;
    width: 580px;
}
.arist.active{
    display: block;
}
.arist .arist-item{
    padding: 0;
    background: transparent;
    border: 0;
    width: 130px;
    float: left;
    margin-right: 17px;
}
.arist .arist-item:nth-child(4),.arist .arist-item:nth-child(8){
    margin-right: 0;
}
.arist-item .cover{
    height: 120px;
    width: 120px;
    overflow: hidden;
    background: #FFFFFF;
    background-repeat: no-repeat;
    background-size: contain;
    border: 5px solid #FFFFFF;
    box-shadow: 0 0 0 1px #DFDCDC;
    margin-bottom: 10px;
}
.cover a{
    width: 120px;
    height: 120px;
    display: block;
    position: relative;
}
.cover a img{
    width: 100%;
    height: 100%;
}
.player-round-btn-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    zoom: 1;
    border: none;
}
.player-round-btn-bg.hover{
    background:#333;
    opacity: .85;
}
.hoverplay{
    display: none;
    padding:14px;
}
.player-round-btn-bg.hover .hoverplay{
     display:block;
}
.hoverplay p{
    display: block;
    position: relative;
    text-align: left;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #FFF;
    overflow: hidden;
    margin-top: 2px;
    margin-bottom: 2px;
}
.span-player{
    right: 10px;
    bottom: 10px;
    top: auto;
    left: auto;
    position: absolute;
    width: 20px;
    height: 20px;
    margin: -8px 0 0 -8px;
    background: #222 !important;
    opacity: .95;
    border-radius: 100%;
    text-align: center;
    zoom: 1;
}
.player-round-btn-bg.hover .span-player{
    background: #fff !important;
}
.icon-player{
    display: inline-block;
    zoom: 1;
    margin: 5px 0 0 2px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 5px 0 5px 8px;
    line-height: 0px;
    border-color: transparent transparent transparent #ffffff;
}
.player-round-btn-bg.hover .icon-player{
    border-color: transparent transparent transparent #222;
}
.arist-title {
    background: url(https://img3.doubanio.com/f/music/d61397f8efe08f2988bd187f2085461bcfc5ce7a/pics/music/home/fleece_small.png) no-repeat;
    padding-left: 20px
}
.arist-title:hover{
    color: #fff;
    background: url(https://img3.doubanio.com/f/music/d61397f8efe08f2988bd187f2085461bcfc5ce7a/pics/music/home/fleece_small.png) no-repeat #138A64;
}

.arist-class{
    margin: 1px 0 18px 0;
    color: #999;
}


.editor .header{
    border-bottom: 2px solid #02A682;
}
.editor .header h2{
    font-size: 16px;
    color: #222;
    line-height: 30px;
    margin-right:50px;
}
.editor .header .button{
    float: right;
}
.editor .header button{
    height: 20px;
    width:20px;
    border-radius: 50%;
    background: #02a682;
    border:0;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
}
.editor-list{
    background: #F5F7F8;
    padding: 15px 0px 15px 10px;
    width: 585px;
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.editor-list .list-wrapper{
    position:relative;
    overflow: hidden;
    height: 356px;
}
.editor-list .list{
    position: relative;
    width:1170px;
    transition:all 500 ease;
    
}
.editor-list .list:hover{

}
.list-img{
    position: relative;
}
.list-item{
    position:relative;
    height: 334px;
    margin-right: 15px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    padding: 10px 15px;
    width:148px;
    float:left;
}
.editor-list .player-round-btn-bg{
    width:150px;
    height: 150px;
}
.editor-list .list-item>p{
    font-size: 12px;
    color: #666;
    margin-top: 10px;
}
.editor-list .list-item h3 a  {
    font-size: 14px;
    line-height: 14px;
    color: #138A64;
    display: block;
    line-height: 18px;
    margin-top:4px;
}
.editor-list .list-item h4 a{
    font-size:12px;
    color:#999;
}
.new-albums {
    margin-bottom: 40px;
}
.section-switcher{
    font-size: 12px;
    color: #666;
    text-decoration: none;
    max-width: 590px;
    display: block;
    position: relative;
    background: #F5F7F8;
}
.section-switcher .header {
    background-color: white;
    border-bottom: 2px solid #02A682;
    position: relative;
    line-height: 30px;
}
.section-switcher .title {
    font-size: 16px;
    color: #222;
    margin-right: 1em;
}
ul.section-titles {
    position: relative;
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    top:5px;
}
.section-titles li{
    float: left;
    cursor: pointer;
    color: #999;
}
.section-titles li::before{
    content: ' |';
    color: #222;
    padding: 0 3px;
}
.section-titles li:nth-child(1)::before{
    content: '';
    padding: 0 3px;
}
.section-titles li.active{
    color: #138A64;
    font-weight: bolder;
}
.section-switcher li:hover {
    background: transparent;
    color: #138A64;
    text-decoration: underline;
}
.section-switcher .more{
    float:right;
    cursor: pointer;
    color: #999;
    margin-top:7px;
}

.new-albums1 .content{
    padding:15px 10px;
}
.album-content{
    display: none;
}
.album-content.active{
    display: block;
}
.album-item{
    width:147px;
    height: 217px;
    /*padding:0 17px 16px 0;*/
    margin-left: -2px;
    display: inline-block;
}
.album-item a {
    display: block;
}
.album-item .img img{
    width:130px;
    height: 130px;
}
.album-item .album-title {
    display: inline-block;
    font-size: 14px;
    color: #138A64;
    line-height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    background: transparent;
    margin: 14px 0 6px 0;
    padding: 0;
}
.album-item a.album-title:hover {
    background-color: #138A64;
    color: #FFF;
}
.album-item p {
    font-size: 12px;
    color: #999;
    line-height: 12px;
    margin: 0 0 2px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.album-item .star{
    margin-top: 6px;
}
.album-item .allstar{
    display: inline-block;
    background: url(https://img3.doubanio.com/f/shire/b8f4c3672ef81106701071831e22422a745d3b74/pics/rating_icons/ic_rating_s.png) no-repeat;
    width: 55px;
    height: 11px;
    margin: 0 3px 0 0;
    overflow: hidden;
}
.album-item .score{
    color: #e09015;
}

.new-albums .content{
    padding:15px 10px;
}
.album-content{
    display: none;
}
.album-content.active{
    display: block;
}
.album-item{
    width:147px;
    height: 217px;
    /*padding:0 17px 16px 0;*/
    margin-left: -2px;
    display: inline-block;
}
.album-item a {
    display: block;
}
.album-item .img img{
    width:130px;
    height: 130px;
}
.album-item .album-title {
    display: inline-block;
    font-size: 14px;
    color: #138A64;
    line-height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    background: transparent;
    margin: 14px 0 6px 0;
    padding: 0;
}
.album-item a.album-title:hover {
    background-color: #138A64;
    color: #FFF;
}
.album-item p {
    font-size: 12px;
    color: #999;
    line-height: 12px;
    margin: 0 0 2px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.album-item .star{
    margin-top: 6px;
}
.album-item .allstar{
    display: inline-block;
    background: url(https://img3.doubanio.com/f/shire/b8f4c3672ef81106701071831e22422a745d3b74/pics/rating_icons/ic_rating_s.png) no-repeat;
    width: 55px;
    height: 11px;
    margin: 0 3px 0 0;
    overflow: hidden;
}
.album-item .score{
    color: #e09015;
}
/*右边栏开始*/
.aside {
    float: right;
    width: 310px;
}

.join{
    margin-bottom: 30px;
}
.join .join-block {
    float: left;
    width: 102px;
    margin-right: 2px;
    height: 57px;
    background-color: #F5F7F8;
    text-align: center;
}
.join .join-block h2 {
    margin: 9px 0 0 0;
    font: 16px Arial, Helvetica, sans-serif;
    color: #072;
    line-height: 150%;
    font-weight: bold;
    cursor: pointer;
}
.join .join-block h2:hover{
    color: #FFF;
    background-color: #138A64;
}
.join .join-block p {
    margin: 0px;
    font-size: 14px;
    color: #666;
}
.join .join-block:nth-child(3){
    margin: 0; 
}
.join .button {
    background-color: #139D72;
    width: 308px;
    height: 38px;
    color: #FFF;
    display: block;
    font-size: 16px;
    text-align: center;
    line-height: 38px;
    margin-top: 3px;
    border: 1px solid #138A64;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.join .button:hover {
    opacity: 0.8;
}

.tag-block{
    margin-bottom: 30px;
}
.tag-block .header p{
    float:left;
    font-size: 14px;
    color: #222;
}
.tag-block .header .more{
    float: right;
    font-size: 12px;
    color: #999;
}
.tag-block .header .more:hover{
    background-color: #999;
    color:#fff;
}
table{
    border-collapse: collapse;
}

.tag-block table td{
    border-top: 1px solid #F8F6F6;
    border-bottom: 1px solid #F8F6F6;
    border-right: 1px solid #F8F6F6;
}
.tag-block table td a {
    display: block;
    height: 36px;
    line-height: 36px;
    color: #138A64;
    font-size: 14px;
    padding-left: 6px;
    width:150px;
}
.tag-block table td a:hover{
    background-color: #F5F7F8;
}

.hot-artist-songs {
    margin-bottom: 30px;
}
.hot-artist-songs .header{
    font-size: 14px;
    color: #222;
    line-height: 25px;
    border-bottom: 1px solid #E4E2E2;
    padding-bottom: 4px;
    margin-bottom: 10px;
    position: relative;
    vertical-align: middle;
}
.hot-artist-songs .header h2{
    float: left;
    font-size: 14px;
}
.hot-artist-songs .header a{
    background: #139D72;
    border: 1px solid #138A64;
    border-radius: 3px;
    font-size: 12px;
    color: #FFF;
    line-height: 23px;
    width: 88px;
    height: 23px;
    display: inline-block;
    text-align: center;
    float: right;
}
.hot-artist-songs .header a i{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-position: 10px 10px;
    background: url(https://img3.doubanio.com/f/shire/b8d0a75490599fb542136854b874918446ef98c1/pics/playicon.png) no-repeat;
}
.hot-artist-songs .header a span{
    color:#fff;
}
.hot-artist-songs .content .selection-title{

}
.hot-artist-songs .content .selection-title li{
    float:left;
    color: #999;
    cursor:pointer;
}
.hot-artist-songs .content .selection-title li.active{
    color: #138A64;
    font-weight: bolder;
}
.hot-artist-songs .content .selection-title li:before{
    content: ' |';
    color: #222;
    padding: 0 3px;
}
.hot-artist-songs .content .selection-title li:nth-child(1):before{
    content: '';
    color: #222;
    padding: 0;
}
.hot-songs-list{
    display: none;
}
.hot-songs-list.active{
    display: block;
}
.hot-songs-list li{
    margin-bottom: 15px;
}
.hot-artist-songs .hot-songs-list img{
    border-radius: 50%;
    float:left;
    width: 48px;
    height: 48px;
}
.hot-songs-list h3{
    background-color: transparent;
    font-size: 14px;
    color: #138A64;
    line-height: 14px;
    padding: 12px 0 8px 0;
    margin-left: 55px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.hot-songs-list p{
    font-size: 12px;
    color: #999;
    line-height: 12px;
    margin-left: 55px;
}

.rec-info .header{
    color: #222;
    border-bottom: 1px solid #E4E2E2;
    font-size: 14px;
    line-height: 25px;
}
.rec-info .header span{
    float:right;
    padding-top: 7px;
    color: #666666;
    cursor: pointer;
}
.rec-info .content{
    width: 330px;
}
.rec-info .hot-item{
    float:left;
    text-align: center;
    margin: 0 15px 10px 0;
}
.rec-info .hot-item p{
    color: #138A64;
    cursor:pointer;
}
.rec-info .hot-item p:hover{
    background: #138A64;
    color:#fff;
}